h1 {
    /* font-family: 'Bellota Text', cursive;*/
    font-family: 'Patrick Hand', cursive;
}

img {
    margin-bottom: 50px;
    margin-top: 35px;
}

.Protect,
.moderatepic {
    height: 600px;
}

.sections {
    margin: auto;
    margin-top: 100px;
}

.lighter {
    color: rgb(10, 209, 209);
}

.Ready_part,
.Food_safety,
.Ready,
.shopping_part,
.Travelling_part {
    margin-bottom: 100px;
}

.about_corona {
    margin: 80px 75px;
    padding: 0px 50px;
}

#header1 {
    /* font-family: 'Bellota Text', cursive;*/
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    margin-bottom: 50px;
    background-color: rgb(250, 240, 228);
    padding: 5px;
    padding-bottom: 3px;
    border-radius: 14px;
}
#header2 {
    /* font-family: 'Bellota Text', cursive;*/
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    margin-bottom: 50px;
    background-color: rgb(250, 240, 228);
    padding: 5px;
    padding-bottom: 3px;
    border-radius: 14px;
}

#corona {
    text-align: center;
    margin-bottom: 55px;
    background-color: bisque;
    border-radius: 10px;
}

.tools_musk {
    margin: 50px;
}

.col-md-3 {
    width: 100%;
}